<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{standard-webpage :: head}"/>
<div id="preloader" th:replace="~{standard-webpage :: preloader}"/>
<header th:replace="~{standard-webpage :: mobile-header}"/>
<header th:replace="~{standard-webpage :: desktop-header}"/>
<body>
<main class="content-2">
    <section-webpage id="page">
        <div class="rounded bg-white shadow-dark padding-30">
            <h2 class="section-title wow fadeInUp" style="margin:0px">Raspberry PI cluster</h2>
            <p></p>
            <p>Welcome to the backend! This page explains how this website was created and the components used. Enjoy :)</p>
            <h3>My mission</h3>
            <p>
                Having worked in a large bank for a number of years I was getting fed up with the lack of
                hardware/software access. If you've worked for an old company you'll know what I mean.
            </p>
            <p>I wanted to hone my skills and try out the latest technologies, but due to access restraints and
                reluctance to move to the latest technologies, this made it very difficult to actually understand how things work or to experiment.
                For example, I was using a Windows 7, docker tool box in 2021. Kubernetes was only accessible via a break class passwords and
                even then you couldn't change anything outside your namespace(Probably for the best in this case).
                Not being able to "poke" around left me frustrated. I want to be able to break things without being
                court marshalled into a meeting or stop a project from going live in a weeks time.
                I do want to caveat this by saying I agree with the restrictions and slow uptake of new technologies as service comes first in a company like a bank.
             </p>
            <p>One evening, while browsing YouTube, I stumbled across Jeff Geering, who had put together his own
                cluster of raspberry PI's.
                This got my thinking of how I could do the same and run my own kubernetes cluster, from where I could
                build, deploy and break whatever I wanted and with no consequence.
            </p>

            <h3>Setting up the cluster</h3>
            <p>As one of my most exciting birthday presents, I was gifted 4 raspberry PI4's. It came
                with 4 SD cards and 4 chargers, but
                it soon because apparent that I needed a cleaner setup. I can't deal with all those wires and that's
                before I had even added the ethernet cables and SSD drives.
                With this I purchased a power bank, to power all 4 Pis, as well as an ethernet switch with 4, short,
                ethernet cables.
            </p>
            <div class="row">
                <img class="col-md-4 padding-top-15" src="images/raspberrypi/image1.jpg" alt="raspberry pi image 1"/>
                <img class="col-md-4 padding-top-15" src="images/raspberrypi/image2.jpg" alt="raspberry pi image 2"/>
                <img class="col-md-4 padding-top-15" src="images/raspberrypi/image3.jpg" alt="raspberry pi image 3"/>
            </div>
            <p></p>
            <p>
                Once the hardware was powered up it was time to flash the SD cards and install Pi OS(Formally know as Raspbian). I used the official raspberry
                pi imager <a href="https://www.raspberrypi.com/software/">found here</a>.
                At the time, only the 32-bit OS had a stable release, so I foolishly went with it having read 32-bit used less memory. The installation was fine, but as soon
                as I tried to install certain programs I realised hardly anything is compiled for 32 bit.
                If I wanted to go down this path I would need to get the source code and compile it myself (No thanks).
                At this point I abandoned the 32bit OS and went for the BETA PI OS 64-bit, and I had full access to all arm 64 software.

                This is the good thing about experimenting, you create your own issues, which most often leads to a deeper understanding
                of how things work.
            </p>

            <h3>Installing Kubernetes</h3>
            <p>
                Rancher was the chosen kubernetes implementation. It's what we used and work and seems to be lightweight enough for the raspberry PI's.
                This guide <a href="https://github.com/k3s-io/k3s-ansible">found here</a>, which uses ancible to automate the install across all
                nodes made light work of this step. The only issue I had was raised <a href="https://github.com/k3s-io/k3s-ansible/issues/179">here</a> which is
                to be expected when installing on an OS like this.
                Now I was at the point where the cluster was setup and ready for me to install some services.
            </p>

            <h3>Creating the service/ website</h3>
            <p>
                At work I use Java and Spring so though this was a logic point to start from. I'd also seen that thymeleaf was
                an interesting option, as it allows for templating and facilitates both front end and back end on
                the same template file and focus mainly on java.
            </p>
            <p>
                As this service is being deployed into kubernetes I wanted a simple way of compiling, packaging all the resources.
                Maven is a great tool to automate this process and comes with a plethora of plugins. I chose the Jkube plugin to
                manage the kubernetes integration and it supports JIB which is nice.
                This means with a few simple maven commands I can do the below:
            <ul style="padding-left: 15px;">
                <li>Compile the code</li>
                <li>Package the code into a Layered, FAT, executable, JAR</li>
                <li>JIB will use this layered JAR to create an image (No need to have dockerD installed either)</li>
                <li>JKUBE will take the image + maven configuration and generate the resources required to deploy to kubernetes</li>
                <li>If you have access you can deploy directly to a dev environment.</li>
            </ul>
                This really streamlines the process of making changes and seeing the changes in a production like environment, giving
                that quick feedback
            </p>

            <h3>CI/CD process</h3>
            <p>
               Having built the spring-boot service I wanted to experiment with Gitops and github actions. Having your source code
                and CI process in the same place makes sense to me. I also liked the declarative approach and the amount of control
                you have while being controlled from a simple yaml file.
            </p>
            <p>I really like the way you can configure the OS/s, JDK, set environment variables and
                mostly the way the secrets are readily accessible within the build config. This removes the need to configure permissions
                in both your source control and your build pipeline. If you need to access your teams environment then
                the secret can be configured here and be accessible to everyone in the team!
            </p>
            <p>
                Another nice feature of this was the ability to add dependencies on the previous jobs. I made it so the development deployment was
                complete and active before starting the production deployment. I also added a manual confirmation to confirm I wanted to
                deploy the latest changes. This allows you to check the dev deployment is doing what you want before progressing.
            </p>
            <p>Service can be found here - <a href="https://github.com/jfbourner/react-thymeleaf">Link</a>,</p>

            <h3>Domain names and DNS</h3>
            <p>
                One issue I faced was getting my domain name setup to connect to the backend service. It was easy enough
                to buy the domain and link it to my home router, but my chosen domain service didn't have DDNS capability, therefore, everytime
                my router restarted or my ISP changed my WAN IP then it would break.
                I believe the best way to keep the same WAN IP is to get the ISP to assign a static IP, but this is
                overkill for what I am doing and is more appropriate for a business.
            </p>
            <div class="row">
                <img class="col-md-4 padding-top-15"  src="images/raspberrypi/ddns-asus.jpg" alt="Asus ddns setup"/>
                <img class="col-md-4 padding-top-15" style="max-width: 66%;" src="images/raspberrypi/google-ddns.jpg" alt="Google DDNS"/>
            </div>
            <p></p>
            <p>
                I migrated my domain over to google domains where my router had the option to push the latest IP address to
                google domains. The only issue with this is that it only worked for one domain "jackbourner.co.uk" and not the sub-domains
                that I wanted for testing and other service. To fix this I created a custom record pointing to jackbourner.co.uk IP address.
            </p>
            <div class="row">
                <img class="col-md-4 padding-top-15"  style="max-width: 100%;" src="images/raspberrypi/sub-domain-dns.jpg" alt="Google sub-domain setup"/>
            </div>
            <h3>Kubernetes ingress</h3>
            <p>
                First I configured the ingress to direct traffic down to my spring-boot application. This, combines with the service,
            routes internal and external traffic to my service.
            <pre class="line-numbers">
                <code class="language-markup">
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    artifactId: react-thymeleaf
    cert-manager.io/cluster-issuer: letsencrypt-dev
    version: 1.0.0
    nginx.ingress.kubernetes.io/rewrite-target: /
  labels:
    app: react-thymeleaf
    provider: jkube
    version: 1.0.0
    group: com.jackbourner
  name: react-thymeleaf
  namespace: development
spec:
  ingressClassName: nginx
  rules:
  - host: dev.jackbourner.co.uk
    http:
      paths:
      - backend:
          service:
            name: react-thymeleaf
            port:
              number: 8080
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - dev.jackbourner.co.uk
    secretName: dev-tls

                </code>
           </pre>
            <p>
                I chose nginx as my ingress controller. No real reason for this other than it being the default controller. Traefik
                was another option I looked at, which I  might explore in the future
            </p>
            <h3>HTTPS - Certificates </h3>
            <p>Certificates/TLS are normally the bane of my life as there are so many reasons for this: </p>
            <ul tyle="padding-left: 15px;">
                <li>Name Mismatch Error</li>
                <li>Expired SSL Certificate Error</li>
                <li>Outdated encryption algorithm</li>
                <li>CN/ DN name mismatch</li>
                <li>Protocol mismatch </li>
                <li>Cipher mismatch</li>
            </ul>
            <p>
                To manage this in kubernetes I needed a simple, low cost, solution. Lets-encrypt offers this and has
                great integration with cert-manager and kubernetes . There are a number of guides as to how to set this up.
                I used <a href="https://www.thinktecture.com/en/kubernetes/ssl-certificates-with-cert-manager-in-kubernetes">this page</a> to
                setup mine. Most guides use helm to automate the namespace and resource creation and within a few minutes
                you can have a new kubernetes secret (Containing the pub/private keys) available to our ingress.
            </p>
            <p>If you look at the ingress configuration you can see the secret is set to the one generated by the cert-manager.
            I have also set the host to match the dev environment, so even though both domains use the same IP, kubernetes knows
            how to route the request to the correct namespace and service. Kubernetes networking feels like magic sometimes.</p>
            <div class="spacer" data-height="60"></div>

            <div class="row">


            </div>
            <!-- row end -->

            <div class="spacer" data-height="70"></div>
        </div>

    </section-webpage>

    <div class="spacer" data-height="96"></div>

</main>

<!-- Go to top button -->
<a href="javascript:" id="return-to-top"><i class="fas fa-arrow-up"></i></a>

<!-- SCRIPTS -->
<th:block th:insert="~{standard-webpage :: scripts}"></th:block>

</body>
</html>