<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{standard-webpage :: head}"/>
<div id="preloader" th:replace="~{standard-webpage :: preloader}"/>
<header th:replace="~{standard-webpage :: mobile-header}"/>
<header th:replace="~{standard-webpage :: desktop-header}"/>
<link rel="stylesheet" href="css/responsiveForm.css" type="text/css" media="all">
<body>
<!-- main layout -->
<main class="content-2">

    <!-- section page -->
    <section-webpage id="page">
        <div class="rounded bg-white shadow-dark padding-30" id="cont">
            <h2 class="section-title wow fadeInUp" style="margin:0px">Warzone 2 stats</h2>
            <p></p>
            <p>Enter your playstation username and return your stats back</p>
            <br>
            <div>
                    <form class="form-inline warzone" method="POST" th:action="@{/warzone}" th:object="${warzoneRequest}">
                        <div class="form-group" data-error="Username is required.">
<!--                            <label for="username">UserName:</label>-->
                            <input class="form-control"
                                   placeholder="Username"
                                   th:field="*{username}"
                                   type="text"/>
                            <div class="text-danger" th:if="${#fields.hasErrors('username')}">
                                <p class="error-message" th:errors="*{username}"></p>
                            </div>
                        </div>

                        <div class="form-group select-wrapper">
<!--                            <label for="platform">Select platform</label>-->
                            <select required class="form-control selectpicker" id="platform" name="platform"  >
                                <option value="" selected disabled hidden>Platform</option>
                                <option th:each="platform : ${platformList}" th:value="${platform}" th:text="${platform}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                           <!-- <label for="dateFrom">Date From:</label>-->
                            <input class="form-control" style="min-width: 253px" th:field="*{dateFrom}" onfocus="(this.type='datetime-local')" placeholder="Date from"/>
                            <div class="text-danger" th:if="${#fields.hasErrors('dateFrom')}">
                                <p class="error-message" th:errors="*{dateFrom}"></p>
                            </div>
                        </div>
                        <div class="form-group">
<!--                            <label for="dateTo">Date To:</label>-->
                            <input class="form-control" style="min-width: 253px" th:field="*{dateTo}" onfocus="(this.type='datetime-local')" placeholder="Date to"/>
                        </div>
                        <div class="text-danger" th:if="${#fields.hasErrors('dateTo')}">
                            <p class="error-message" th:errors="*{dateTo}"></p>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" type="submit">Submit</button>
                        </div>
                    </form>

            </div>
            <div th:text="${data}"></div>
        </div>
    </section-webpage>

    <div class="spacer" data-height="96"></div>

</main>

<!-- Go to top button -->
<a href="javascript:" id="return-to-top"><i class="fas fa-arrow-up"></i></a>

<!-- SCRIPTS -->
<th:block th:insert="~{standard-webpage :: scripts}"></th:block>

</body>
</html>